*{
    list-style: none;
    text-decoration: none;
  }
  
  body {
    font-family:sans,Sans-serif;
    margin: 2% 4% 0% 4%;
  }
  
  /* Header|Logo Başlık */
  header {
    padding:1px;
    text-align: center;
    background: #3b3332;
    color: rgb(255, 241, 241);
    font-size: 30px;
  }