*{
    list-style: none;
    text-decoration: none;
  }
  
  body {
    font-family:sans,Sans-serif;
    margin: 2% 4% 0% 4%;
  }
  
  /* Header|Logo Başlık */
  header {
    padding:1px;
    text-align: center;
    background: #3b3332;
    color: rgb(255, 241, 241);
    font-size: 30px;
  }


  /* Nav | Anasayfa Barı */
  ul.menu{
    background-color: rgb(214, 199, 198);
    height: 50px;
  }
  ul.menu >li{
    float: left;
    
    }
    ul.menu >li >a {
      
      display: block;
      font-size: 20px;
      padding: 0 15px ;
      line-height: 50px;
      color: rgb(10, 10, 10);
    }
    ul.menu >li.bilgi {
      
      float: right;
      
      
    }
  
  nav> p.home{
    color: #2e2d33;
    text-align: center;
    font-size: 33px;
  }